@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container h-100">
    <h1>Bem vindo(a) ao Projeto CRUD</h1>
    <h3>Para usar o site, entre em produtos e comece a interagir com as funções</h3>
</div>
